In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [0]:
# Clone the entire repo.
!git clone -l -s git://github.com/Sahilkumar098/Case-Study1.git Case_Study-1
%cd Case_Study-1
!ls

Cloning into 'Case_Study-1'...
warning: --local is ignored
remote: Enumerating objects: 11, done.
remote: Counting objects: 100% (11/11), done.
remote: Compressing objects: 100% (9/9), done.
remote: Total 11 (delta 1), reused 0 (delta 0), pack-reused 0
Receiving objects: 100% (11/11), 5.93 MiB | 8.61 MiB/s, done.
Resolving deltas: 100% (1/1), done.
/content/Case_Study-1
 companies.txt	'mapping - mapping.csv'   README.md  'rounds2 - rounds2.csv'

In [0]:
mapping=pd.read_csv('/content/Case_Study-1/mapping - mapping.csv',encoding="ISO-8859-1",engine='python')
rounds=pd.read_csv('/content/Case_Study-1/rounds2 - rounds2.csv',encoding="ISO-8859-1",engine='python')
company=pd.read_csv('/content/Case_Study-1/companies.txt',sep='\t+',encoding="ISO-8859-1",engine='python')        #\t+ is a regex

In [0]:
company

                                               permalink  ...  founded_at
0                                    /Organization/-Fame  ...        None
1                                 /Organization/-Qounter  ...  04-09-2014
2                    /Organization/-The-One-Of-Them-Inc-  ...        None
3                                  /Organization/0-6-Com  ...  01-01-2007
4                         /Organization/004-Technologies  ...  01-01-2010
...                                                  ...  ...         ...
66363  /Organization/Zznode-Science-And-Technology-Co...  ...        None
66364                          /Organization/Zzzzapp-Com  ...  13-05-2012
66365                               /Organization/ÃEron  ...        None
66366                             /Organization/ÃAsys-2  ...  01-01-2014
66367  /Organization/Ä°Novatiff-Reklam-Ve-Tanä±Tä±M-H...  ...        None

[66368 rows x 10 columns]

# **CheckPoint 1:** _$Data$ $Cleaning_1$_

In [0]:
print(company.shape, rounds.shape, mapping.shape)

(66368, 10) (114949, 6) (688, 10)

In [0]:
rounds

                                        company_permalink  ... raised_amount_usd
0                                     /organization/-fame  ...        10000000.0
1                                  /ORGANIZATION/-QOUNTER  ...               NaN
2                                  /organization/-qounter  ...          700000.0
3                     /ORGANIZATION/-THE-ONE-OF-THEM-INC-  ...         3406878.0
4                                   /organization/0-6-com  ...         2000000.0
...                                                   ...  ...               ...
114944                          /organization/zzzzapp-com  ...           41313.0
114945                          /ORGANIZATION/ZZZZAPP-COM  ...           32842.0
114946                              /organization/éeron  ...               NaN
114947                            /ORGANIZATION/è­ASYS-2  ...           18192.0
114948  /organization/æµnovatiff-reklam-ve-tanæµtæµ...  ...           14851.0

[114949 rows x 6 columns]

In [0]:
len(rounds.company_permalink.unique())

90247

In [0]:
len(rounds.company_permalink.str.lower().unique())

66373

In [0]:
len(company.permalink.str.lower().unique())

66368

In [0]:
len(company.name.str.lower().unique())

66038

In [0]:
company.permalink = company.permalink.str.lower()
len(company.permalink.unique())

66368

In [0]:
rounds['permalink']=rounds.company_permalink.str.lower()
len(rounds.permalink.unique())

66373

In [0]:
rounds.shape

(114949, 7)

In [0]:
leftout=rounds[~rounds.company_permalink.isin(company.permalink)]

In [0]:
len(leftout.company_permalink.unique())

74

In [0]:
master_frame=pd.merge(rounds,company,how='left',on='permalink')
master_frame

                                        company_permalink  ...  founded_at
0                                     /organization/-fame  ...        None
1                                  /organization/-qounter  ...  04-09-2014
2                                  /organization/-qounter  ...  04-09-2014
3                     /organization/-the-one-of-them-inc-  ...        None
4                                   /organization/0-6-com  ...  01-01-2007
...                                                   ...  ...         ...
114944                          /organization/zzzzapp-com  ...  13-05-2012
114945                          /organization/zzzzapp-com  ...  13-05-2012
114946                              /organization/éeron  ...         NaN
114947                            /organization/è­asys-2  ...         NaN
114948  /organization/æµnovatiff-reklam-ve-tanæµtæµ...  ...         NaN

[114949 rows x 16 columns]

# **CheckPoint 2:** _$Funding $    $ Type $ $ Analysis $_

# **CheckPoint 3:** _$Country$      $Analysis$_

In [0]:
mapping

        category_list  ...  Social, Finance, Analytics, Advertising
0                 NaN  ...                                        0
1                  3D  ...                                        0
2         3D Printing  ...                                        0
3       3D Technology  ...                                        0
4          Accounting  ...                                        1
..                ...  ...                                      ...
683         Wholesale  ...                                        0
684  Wine And Spirits  ...                                        0
685          Wireless  ...                                        0
686             Women  ...                                        0
687      Young Adults  ...                                        0

[688 rows x 10 columns]

# **CheckPoint 4:** _$Sector$ $Analysis_1$_

#**CheckPoint 5:** _$Sector$ $Analysis_2$_

# **CheckPoint 6:**  _$ Plots $_